__pycache__/
*.py[cod]
*.so
*.pyd

*.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.log
*.session
.vscode/
.idea/

checkpoints/
model_weights_dir/
models/
*.safetensors
*.bin
*.pt
*.pth

metrics/*.csv
metrics_log.csv

data/*.csv
data/*.json

*.onnx
*.ckpt

*.lock

**/.ipynb_checkpoints/
